body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
}
